#title{
    margin: auto;
    width: 50%;
    color: white;
    text-align: center;
}
h2{
    
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.carrousel-inner{
    width: auto;
    height: 800px;
}

@media only screen and (max-width:600px){
    .carrousel-inner{
        height: 100%;
        width: auto;
    }
}